html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballon {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 50px auto;
}